 name: Node.js CI

 on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - '.gitignore'
      - '*.md'
      - '*.txt'
  pull_request:
    branches: [ main ]
    paths-ignore:
      - '.gitignore'
      - '*.md'
      - '*.txt'
   
 jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]
 
    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present

    - name: Build and Push Docker Image
      uses: mr-smithers-excellent/docker-build-push@v6
      with:
       image: shivamsharma1/nike-shop
       registry: docker.io
       username: ${{ secrets.DOCKER_USERNAME }}
       password: ${{ secrets.DOCKER_PASSWORD }} 
     
